:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-color: #ffffff;
  --double-accent-color: #2196f3;
  --background-fon-color: #2f303a;
  --background-fon-color-team: #F5F4FA;
  --second-transparent-color: color: rgba(255, 255, 255, 0.6);
  --portfolio-border-color-: #EEEEEE;
  --bg-hero-color: #C4C4C4;
  --accent-icon-color: #AFB1B8;
}

body {
 
  background-color: #ffffff;
  color: var(--primary-text-color);
  
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.social-list {
  display: flex;
  justify-content: space-between;
  }
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--primary-text-color);
  background-color: var(--second-color);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.social-list-link:hover, 
.social-list-link:focus {
  background-color: var(--accent-color);
 }
.social-list-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon, 
.social-list-link:focus .social-list-icon {
  fill: var(--second-color);
}

/* logo*/
.logo {
  text-decoration: none;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.accent-logo {
  color: #000000;
}

/*Main-nav*/
.main-nav {
  display: flex;
  align-items: center;
}


/*Page-heder*/
.page-header {
 
  border-bottom: 1px solid #ECECEC;
}

/* site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .nav-link {
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--accent-color);
}
.site-nav .nav-link.current {
  color: var(--accent-color);
  position: relative;
 
}
.site-nav .nav-link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  padding-bottom: 32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  border-bottom: 4px solid var(--accent-color);
  
}

/* Contact-nav */
.contact {
  display: flex;
  margin-left: auto;
}
.contact .item + .item {
 margin-left: 50px;
}

.contact .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .nav-link:hover,
 .nav-link:focus {
  color: var(--accent-color);
}


.contact-list-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover .contact-list-icon,
 .nav-link:focus .contact-list-icon {
  fill: var(--accent-color);
}


/* Button */
.button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--second-color);
  background-color: var(--accent-color);

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button:hover,
.button:focus {
  color: var(--second-color);
  background-color: var(--double-accent-color);
}

.button-secondary {
  display: inline-block;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--background-fon-color-team);
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: var(--second-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Hero*/


.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: var(--bg-hero-color);
  max-width: 1600px; 
  height: 600px; 
  margin-left: auto; 
  margin-right: auto; 
  background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)), url(../images/gallery/command-hero.jpg); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
   
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--second-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
 
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.doing-list {
  display: flex;
}
.doing-list .item:not(:last-child) {
  margin-right: 30px;
}
.doing-wrapper-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-color);
}
.doing-wrapper {
  position: relative;
  bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}


/* Features */
.features {
  padding-top: 94px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
 
  }
.features-list .item{
    width: 270px;
    margin-right: 30px;
  }
.features-list .item:nth-child(4n) {
    margin-right: 0;
  }
.title {
  margin-bottom: 10px;
}
.text {
  margin-top: 0;
  margin-bottom: 0;
  }
.features-list .title {
   margin-top: 0;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list .text {
  margin-top: 0;
  margin-bottom: 94;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features-item {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: var(--background-fon-color-team);
  border-radius: 4px;
}
.features-list-icon{
  width: 70px;
  height: 70px;
}

/* Team*/
.team {
  background-color: var(--background-fon-color-team);
}
.team-list {
  min-width: 1170px;
  min-height: 368px;
  display: flex;
  justify-content: center;
}
.team-list .item-card {
  width: 270px;
  margin-right: 30px;
}
.item-card {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0 0 4px 4px;
background-color: var(--second-color);
}
.item-card-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}
.team-list .item-card:nth-child(4n) {
    margin-right: 0;
  }
.team-list .team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-list .text-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-bottom: 16px;
}
/*Clients*/
.clients-list {
  display: flex;
  justify-content: space-between;
  }
  
.clients-list-item {
    margin-right: 30px;
   }
.clients-list .clients-list-item:nth-child(6n) {
  margin-right: 0px;
}
.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--accent-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--accent-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.clients-list-link:focus,
.clients-list-link:hover {
border-color: var(--accent-color);
}

.clients-list-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:focus .clients-list-icon,
.clients-list-link:hover .clients-list-icon {
  fill: var(--accent-color);
}

/* Footer*/
.page-footer {
  min-height: 252px;
  padding: 60px 0;
  background: var(--background-fon-color);
}
.footer-conteiner {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.accent-logo-footer {
  color: var(--second-color);
}
/*Address Footer*/
.footer-address-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 70px;
}
.footer-address {
  font-style: inherit;
  margin-top: 20px;
  min-width: 231px;
  min-height: 81px;
}
.address-nav {
  min-width: 231px;
  min-height: 81px;
}  

.address-nav .address-link {
  font-style: normal;
  color: var(--second-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-decoration: none;
}
 .address-nav .nav-link {
  color: var(--second-transparent-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-decoration: none;
}
.footer-address-item {
  margin-bottom: 9px;
}
/*Social-Link-Footer*/
.footer-title {

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-top: 20px;
}
.footer-social-list-link, .footer-social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--second-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
  .footer-social-list-link:hover, 
  .footer-social-list-link:focus {
    background-color: var(--accent-color);
  }
  .footer-social-list-icon {
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
  .footer-social-list-link:hover .social-list-icon, 
  .footer-social-list-link:focus .social-list-icon {
    fill: var(--second-color);
}
/*Footer-Form*/
.footer-form-link {
  margin-left: 93px;
}
.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 20px;
}
.footer-form {
  display: flex;
  justify-content: center;
}
.footer-form-email {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px 28px;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  color: var(--second-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-btn-icon {
  fill: var(--second-color);
  margin-left: 10px;
}

  
/*Портфолио*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
 
}
.filter-menu-item:not(:last-child) {
  margin-right: 8px;
}



/*Меню*/
.work {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  box-sizing: border-box;
}

.work-wrapper {
  position: relative;
  overflow: hidden;
}
.work-list-link:focus .overlay,
.work-list-link:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.overlay {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--second-color);
  padding: 64px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.work-list-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list-link:focus,
.work-list-link:hover {
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work > .work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.work .work-name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work .work-text {

font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.work-title {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-border-color-);
  border-bottom: 1px solid var(--portfolio-border-color-);
  border-left: 1px solid var(--portfolio-border-color-);
}

.work-text {
  margin-top: 4px;
}

/*Модальное окно*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  background-color: var(--second-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
  fill: var(--accent-color);
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
 }
 .modal-form-icon {
   position: absolute;
   top: 50%;
   left: 12px;
   display: block;
   transform: translateY(-50%);
 }
 .form-field label {
   margin-bottom: 4px;
 }
 
 .modal-btn-submit {
  align-self: center;
  border: 1px solid transparent;
  padding: 10px 55px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  color: var(--second-color);
  background-color: var(--accent-color);

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.textarea {
  resize: none;
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-input:focus +.modal-form-icon {
  fill: var(--accent-color)
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-policy-link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-checkbox-policy::before {
 display:inline-block;
 vertical-align: middle;
 content: "";
 width: 16px;
 height: 15px;
 border: 2px solid var(--title-text-color);
 border-radius: 2px;
 margin-right: 7px;
 cursor: pointer;
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  border-color: transparent;
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form-checkbox:focus + .modal-form-checkbox-policy::before {
  border-color: var(--accent-color);
}

/* лого #000000 */
/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет фона #ECECEC */ ;
