.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-list-item {
  margin-right: 30px;
}
.clients-list .clients-list-item:nth-child(6n) {
  margin-right: 0px;
}
.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--accent-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--accent-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:focus,
.clients-list-link:hover {
  border-color: var(--accent-color);
}
.clients-list-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:focus .clients-list-icon,
.clients-list-link:hover .clients-list-icon {
  fill: var(--accent-color);
}
