.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--primary-text-color);
  background-color: var(--second-color);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--second-color);
}
